
<p>
  You can use <a href="https://www.mathjax.org/" target="_blank">MathJax</a> in all form fields (question text, answer options). 
  
</p>
<p>
  For example: <pre><code>$$\frac{d}{dx} [Cf(x)] = C \frac{d}{dx} f(x)$$</pre></code> will render $$\frac{d}{dx} [Cf(x)] = C \frac{d}{dx} f(x)$$
</p>
<p>
   Note the two leading and trailing dollar signs:<pre><code>$$</pre></code>
</p>

<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="md-3">
    <%= form.label :question_text, class: 'form-label' %>
    <%= form.rich_text_area :question_text %>
  </div>

  <div class="mb-3">
    <%= form.label :answer_a, class: 'form-label' %>
    <%= form.text_field :answer_a, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :answer_b, class: 'form-label' %>
    <%= form.text_field :answer_b, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :answer_c, class: 'form-label' %>
    <%= form.text_field :answer_c, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :answer_d, class: 'form-label' %>
    <%= form.text_field :answer_d, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :correct_answer, class: 'form-label' %>
    <%= form.select :correct_answer, %w(a b c d), {}, class: 'form-select' %>
  </div>


  <%= form.submit class: 'btn btn-primary' %>
<% end %>
