<h3>
  <a href='<%= user_path(@question.user_id) %>'>
    @<%= User.find(@question.user_id).handle%>
  </a>
  -
  <span class='muted'>
    <a href="https://qandahq.herokuapp.com/questions/<%= @question.id %>/answer">
      <%= time_ago_in_words(@question.created_at) %> ago
    </a>
  </span>
</h3>

<p>
  <%= @question.question_text %>
</p>

<div class='list-group'>
<% ['a', 'b', 'c', 'd'].each do |letter| %>
  <div class='list-group-item' onclick="this.querySelector('input').checked = true">
    <p>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="question_<%= @question.id %>_answer_<%= letter %>" name="<%= @question.id %>_answer" value="<%= letter %>">
        <label for="question_<%= @question.id %>_answer_<%= letter %>">
  
          <strong><%= letter.upcase %>:</strong>
          <%= @question.public_send("answer_#{letter}") %>
  
        </label>
      </div>
    </p>
  </div>
<% end %>
</div>

<%- if user_signed_in? && @question.user.id == current_user.id %>
  <%= link_to 'Edit', edit_question_path(@question), class: 'btn btn-secondary' %>
<% end %>
<br />

<button onclick="submitAnswer(<%= @question.id %>)" class="btn btn-primary btn-block">Submit</button>
<script>

  function submitAnswer(questionId) {
    const rbs = document.querySelectorAll(`input[name="${questionId}_answer"]`);
       let selectedValue;
       for (const rb of rbs) {
           if (rb.checked) {
               selectedValue = rb.value;
               break;
           }
       }
       
       
       if (selectedValue == undefined) {
         alert('You must select an answer (A, B, C or D)');
       } else {
         let data = {"question": {"providedAnswer": selectedValue }}
         
         
          fetch(`/questions/${questionId}/check_answer`, {
            method: "POST", 
            body: JSON.stringify(data),
            headers:  {
              "Content-Type": "application/json",
              "Accept": "application/json"
            },
          }).then(res => {
            console.log("Request complete! response:", res);
            
            return res.json();
          }).then(json => {
            console.log(json);
            
            if (json.correct_answer_given) {
              alert('Correct Answer')
            } else {
              alert('Wrong Answer')
            }
          });
       }
  }
</script>

<br />
<br />


<!--<p>
  <a href="/comments?commentable_type=Question&commentable_id=<%= @question.id %>">Comments (<%= @question.comments.count %>)</strong></a>
</p> -->