<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question.question_text %>
</p>

<div class='list-group'>
<% ['a', 'b', 'c', 'd'].each do |letter| %>
  <div class='list-group-item' onclick="this.querySelector('input').checked = true">
    <p>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="answer_<%= letter %>" name="answer" value="<%= letter %>">
        <label for="answer_<%= letter %>">
  
          <strong><%= letter.upcase %>:</strong>
          <%= @question.public_send("answer_#{letter}") %>
  
        </label>
      </div>
    </p>
  </div>
<% end %>
</div>

<br />

<button onclick="submitAnswer()" class="btn btn-primary btn-block">Submit</button>
<script>
  document.onkeypress = function(e) {
    switch(e.keyCode) {
      case 13:
        submitAnswer();
        break;
      case 97: case 49:
        document.querySelector("#answer_a").checked = true;
        break;
      case 98: case 50:
        document.querySelector("#answer_b").checked = true;
        break;
      case 99: case 51:
        document.querySelector("#answer_c").checked = true;
        break;
      case 100: case 52:
        document.querySelector("#answer_d").checked = true;
        break;
    }

  }
  
  function submitAnswer() {
    const rbs = document.querySelectorAll('input[name="answer"]');
       let selectedValue;
       for (const rb of rbs) {
           if (rb.checked) {
               selectedValue = rb.value;
               break;
           }
       }
       
       
       if (selectedValue == undefined) {
         alert('You must select an answer (A, B, C or D)');
       } else {
         let data = {"question": {"providedAnswer": selectedValue }}
         
         
          fetch("/questions/<%= @question.id %>/check_answer", {
            method: "POST", 
            body: JSON.stringify(data),
            headers:  {
              "Content-Type": "application/json",
              "Accept": "application/json"
            },
          }).then(res => {
            console.log("Request complete! response:", res);
            
            return res.json();
          }).then(json => {
            console.log(json);
            
            if (json.correct_answer_given) {
              alert('Correct Answer')
            } else {
              alert('Wrong Answer')
            }
          });
       }
  }
</script>

<br />
<br />

<p>
  <strong>Tags:</strong>
  <%= @question.tags %>
</p>



<p>
  <strong>Copy url:</strong>  
  <input value="https://qandahq.herokuapp.com/questions/<%= @question.id %>/answer">
</p>

